.app-container{
  display: flex;
}

.content{
  width: 100%;
}

.sidebar{
  min-height: 870px;
}

.post-card{
  margin: 20px 50px;
}

.hashtag{
  margin: 0px 5px;
}

.reactions{
  width: 100%;
  margin: 5px 0 0 0;
}

.create-post{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

.welcome-message{
  margin: 100px 0;
}

.buttons{
 background-color: #04AA6D; 
 border-radius: 12px;
}
.button-2{
  background-color: #f44336;
  border-radius: 12px;
}